<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=todo.name%></h1>
    <p>Description: <%=todo.description%></p>
    <p>Completed: <%=todo.completed%></p>
  </body>
</html>
